//mixins

@mixin transform-rotate($degree) {
  -ms-transform: rotate($degree);
  -webkit-transform: rotate($degree);
  transform: rotate($degree);
}

@mixin transform-skewY($degree) {
  -ms-transform: skewY($degree);
  -webkit-transform: skewY($degree);
  transform: skewY($degree);
}

@mixin  transform-nav($degree){
  -webkit-transform: skewY($degree);
  -moz-transform: skewY($degree);
}