.consulting{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: $grey;
  height: 800px;
  padding-top: 60px;
}

.consulting__container {
  width: 800px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.article__title{
  color: $green;
}

.article__business{
  margin-top: 300px;
}

.img{
  float: left;
  margin: 15px 60px 0 0;
}

.article{
  float: right;
}

.consulting__title{
  font-size: 50px;
  margin-left: 160px;
  margin-right: auto;
  width: fit-content;
  margin-bottom: 80px;

}

.article__container{
  padding: 0 0 60px 0;

}

.consulting__angletop {
  width: 100%;
  height: 25px;
  margin-bottom:-13px;
  -webkit-transform: skewY(-1deg);
  background-color: $grey;
}

.consulting__anglebottom {
  width: 100%;
  margin-top:-13px;
  height: 25px;
  -webkit-transform: skewY(1deg);
  background-color: $grey;
}