.expertise{
  height: 1253px;
  width: 100%;
  padding: 50px 0 0 0;
  background-image: url('../img/expertiseBackground.jpg');
  //transform: skew(0deg, -1.1deg); test1234
}

/*.expertise > * {
  transform: skew(0deg,1.1deg);
}*/

.expertise__title{
  font-size: 45px;
  margin: 0 auto 50px auto;
  width: fit-content;
}

.expertise__container{
  margin: 0 auto 0 auto;
  width: 80%;
}

.expertise__header{
  font-size: 30px;
  margin: 0;
  color: $green;
  margin: 0 0 10px 0;
}

.expertise__block{
  clear: both;
  position: relative;
  width: 850px;
  height: 150px;
  background-color: white;
  margin: 0 0 50px 0;
  padding: 20px 15px 20px 20px;
  opacity: 0;
  left: 150px;
  transition: all 1s;
}

.expertise__article{
  font-size: 20px;
  line-height: 25px;
  //text-align: left;
}

.expertise__block:nth-child(odd) {
  float: left;
}

.expertise__block:nth-child(even) {
  float: right;
  left: -80px;
}

.expertise__header--float-left {
  float: left;
  text-align: left;
}

.expertise__header--float-right {
  float: right;
  text-align: right;
}

.expertise__angle--left {
  float: left;
  text-align: left;
}

.expertise__angle--right {
  float: right;
  text-align: right;
}

.expertise__angle{
  position: relative;
}

.expertise__angle--right{
  float: right;
  bottom: 163px;
  left: 65px;
  @include transform-rotate(180deg);
  border-bottom: 190px solid white;
  border-left: 50px solid transparent;
}

.expertise__angle--left{
  float: left;
  bottom: 163px;
  @include transform-rotate(180deg);
  right: 80px;
  border-bottom: 190px solid white;
  border-right: 60px solid transparent;
}