.linksandresources__angle {
  width: 100%;
  height: 25px;
  margin-bottom: -13px;
  -webkit-transform: skewY(-0.7deg);
  background-color: $white;
}

.linksandresources__angle--top {
  margin-bottom: -10px;
}

.linksandresources__angle--bottom {
  margin-top: -10px;
}

.linksandresources__section {
  background-color: $white;
  height: 1500px;
  width: 100%;
  margin: auto 0 auto 0;
  text-align: center;
}

.linksandresources__header {
  padding: 75px 0px 5px 0px;
  color: $green;
}

.linksandresources__h1 {
  font-size: 45px;
}

.linksandresources__paragraph {
  font-size: 20px;
  font-weight: bold;
}

.linksandresources__filterwrapper {
  //margin: 60px 0px 75px 10px;
  float: left;
  margin: 0 0 45px 0;
  width: fit-content;
}

.linksandresources__filterbutton {
  background-color: $grey;
  height: 40px;
  width: 172px;
  margin-right: 31px;
  font-size: 20px;
  color: $green;
  border: none;
}

.linksandresources__searchbox {
  color: $green;
  border: none;
  width: 369px;
  height: 40px;
  padding-left: 35px;
  font-size: 25px;
  background: url("../img/search.png");
  background-size: 5%;
  background-position: 10px 50%;
  background-repeat: no-repeat;
  background-color: $grey;
  &::-webkit-input-placeholder {
    color: $green;
  }
}

.linksandresources__articleswrapper {
  //margin-left: 200px;

  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  width: 1245px;
  height: 100%;
}

.linksandresources__article {
  background-image: url("../img/boxes.png");
  background-size: 80%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: $dark-green;
  float: left;
  margin-right: 50px;
  margin-bottom: 50px;
  width: 365px;
  height: 300px;

  &:hover {
    background-image: url("../img/boxesopen.png");
  }
  &:nth-child(odd){
     background-color:$dark-pink;
   }
}

.linksandresources__article--display-none{
  display: none;
}

.linksandresources__articletext {
  padding: 11% 30px 40px 30px;
  font-weight: bold;
  font-size: 34px;
  color: $white;
}

.linksandresources__loadmorebutton {
  float: right;
  background-color: $green;
  border: none;
  height: 40px;
  width: 200px;
 // margin-right: 188px;
  margin-top: -20px;
  color: $white;
  font-size: 20px;
  position: relative;
  right: 50px;
}