.page__header{
  z-index: 1;
  width: 100%;
  height: $pageheader_height;
  background-color: rgba(220,220,220,0.9);
  position: fixed;
  left: 0;
  top: -18;
  @include transform-skewY(-1deg);

}

.header__logo{
  margin: 14px 0 0 4%;
  width: 16%;
  @include transform-skewY(1deg);
}


.nav__text{
  float: right;
  line-height: $pageheader_height+15;
  margin: 0 5.9% 0 0;
  text-decoration: none;
  color: black;
  font-size: 17px;
}

.nav__text--green{
  margin-right: 3.9%;
  color: #68A500;
  text-decoration: underline;
}

.page__nav{
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   top: -16px;
  }
  @include transform-nav(1deg);
}