.ourpurpose__section {
  background-color: $green;
  height: 634px;
  width: 100%;
  font-family: Ubuntu, serif;
  margin: auto 0 auto 0;

}
.ourpurpose__angletop{
  height:50px;
  background-color:blue;
  transform: skew(0deg, -1.1deg);
}
.ourpurpose__anglebottom{
  height:50px;
  background-color:red;
  transform: skew(0deg, 1.1deg);
}
.ourpurpose__boxwrapper {
  padding-top: 150px;
}

.ourpurpose__fieldset {
  border: 3px solid black;
  width: fit-content;
  margin: auto auto auto 40%;
}

.ourpurpose__legend {
  text-align: center;
}

.ourpurpose__h1 {
  font-size: 3.4em;
  margin: 0;
  border-left: 30px solid $green;
  border-right: 30px solid $green;
}

.ourpurpose__image {
  float: left;
  margin-left: -415px;
  margin-top: -125px;
  border: 20px solid $green;
}

.ourpurpose__paragraph {
  float: right;
  padding: 5px 65px 50px 30px;
  font-size: 24px;
}