.ourpurpose__section {
  background-color: $white;
  height: 600px;
  width: 100%;
  font-family: Ubuntu, serif;
  margin: auto;
  padding-top: 150px;
}
.ourpurpose__angle{
  width: 100%;
  margin-top:-13px;
  background-color: $white;
  height: 25px;
}
.ourpurpose__angle--top {
  margin-bottom:-13px;
  @include transform-skewY(-0.9deg);
}

.ourpurpose__angle--bottom {
  @include transform-skewY(0.7deg);
}

.ourpurpose__boxwrapper {
  margin: auto;
  width: 70%;
}

.ourpurpose__h1 {
  margin-left: 650px;
  margin-top: -400px;
  font-size: 44px;
}

.ourpurpose__paragraph {
  float: right;
  line-height: 35px;
  display: inline-block;
  margin: -300px -20px 0 0;
  font-size: 25px;
}

.ourpurpose__image {
  float: left;
  margin-top: -420px;
  width: 550px;
  height: 320px;
}

.ourpurpose__canvas {
  z-index: -1;
  margin-left: 420px;
  margin-top: -30px;
  padding: 0;
  width: 70%;
  height: 65%;
}

@media screen and (min-width: 1300px) {
  .ourpurpose__paragraph {
    margin-right: -72px;
  }
}