.whatwedo {
  margin-top: -10px;
  color: $white;
  background-color: $green;
  width: 100%;
  height: 250px;
}

.whatwedo__header {
  text-align: center;
  padding: 2% 0 0 0;
  font-size: 40px;
}

.whatwedo__p {
  margin: auto;
}